includes:
    - vendor/larastan/larastan/extension.neon

parameters:
	level: 9
	paths:
	    - app/
	    - database/
	    - tests/
	    - routes/
	reportUnmatchedIgnoredErrors: true
	checkGenericClassInNonGenericObjectType: false
	excludePaths:
		- database/migrations/2024_03_20_035317_create_permission_tables.php
	ignoreErrors:
		-
			message: '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9_]+\(\) has no return type specified\.#'
			path: tests\\*
